@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 150px auto;
    padding: 0px auto;
    text-align: center;
}
.container {
    display: flex;
    margin: auto;
    width: 850px;
    max-width: 1100px;
    border: 1px solid black;
    border-radius: 20px;
}
.container img[src] {
    position: relative;
    width:700px;
    height: 500px;
}
.card {
    position:absolute;
    width: 300px;
    border: 1px solid red;
}





































/* body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: rgb(48, 33, 104);
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    color: white;
}
.mainbody {
    max-width: 1100px;
    margin: 50px auto;
    display: block;
}
.container {
    margin: 0 auto;
    border: .5px solid rgb(243, 187, 238);
    border-radius: 20px;
    width: 700px;
    height: 500px; 
}
.container img[src] {
    width: 700px;
    height: 500px;
    border-radius: 20px;
}
.logo {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
}
span a {
    text-decoration: none;
    color: #4F85E2;
}
.logo img[src] {
    width: 70px;
    height: 25px;
    border-radius: 0%;
}
.ball {
    display: flex;
}
.ball img[src] {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.box h1 {
    color: #262528;
    margin-top: -5px;
}
.box {
    margin-top: -450px;
    margin-bottom: 150px;
    margin-left: 30px;
    padding: 30px;
    background: rgba(0,0,0,.5);
    height: 400px;
    width: 300px;
    color: grey;
    text-align: left;
}
.ball .google {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #4F85E2;
    background-color: #4F85E2;
    color: white;
    font-size: x-small;
    margin-right: 10px;
    width: 150px;
    text-align: center;
}
.ball .google:hover {
    cursor: pointer;
    background-color: blue;
}
label {
    font-size: small;
}
#form {
    margin-top: 40px;
}
input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid white;
    font-size: x-small;
}
input:hover {
    border: .5px solid #4F85E2;
}
.fpassword {
    font-size: xx-small;
    padding-left: 50px;
    color: #4F85E2;
}
.signup {
    text-decoration: underline;
}
.signin {
    background-color: rgb(51, 49, 49);
    width: 100px;
    color: white;
    border: 1px solid rgb(51, 49, 49);
}
.signin:hover {
    background-color: grey;
    border: .5px solid grey;
    color: white;
    cursor: pointer;
}
footer {
    color: white;
}
.footer a {
    color: #4F85E2;
    text-decoration: none;
}

.hide {
   display: none;
}
.outline {
    outline-color: red;
}
*/